{% extends 'base.html.twig' %}

{% block body %}
    <h1>Assignment edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('assignment_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>


    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery().sfPrototypeMan({ 
                addButtonText: "Add",
                rmButtonText: "Remove"
            });
            
            jQuery("#appbundle_assignment_materials").sortable();
        });

        
        function setSuppuration(obj,color)
        {
            obj.parent().css("background", color).css("padding", "20px").css("margin-top", "20px").css("margin-bottom","20px");
        }

        setSuppuration($("#appbundle_assignment_materials"),"#c6d6c6");
        setSuppuration($("#appbundle_assignment_questions"),"#c6d6c6");
        setSuppuration($("#appbundle_assignment_questions_0_answers"),"#9de4b0");


    </script>




{% endblock %}