{% extends 'base.html.twig' %}

{% block body %}
    <h1>Assignment edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('assignment_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>


    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery().sfPrototypeMan({ 
                addButtonText: "Add Material",
                rmButtonText: "Remove"
            });
            
            jQuery("#form_materials").sortable();
        });
    </script>
{% endblock %}