{% extends 'base.html.twig' %}

{% block body %}
    <h1>Assignments list</h1>

    <table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Expire Date</th>
                <th>Description</th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assignment in assignments %}
            <tr>
                <td><a href="{{ path('assignment_show', { 'id': assignment.id }) }}">{{ assignment.id }}</a></td>
                <td>{{ assignment.name }}</td>
                <td>{{ assignment.status }}</td>
                <td>{{ assignment.getExpireDate|date("d-m-Y") }}</td>
                <td>{{ assignment.description }}</td>
                <td>
                     <a href="{{ path('share_assignment', { 'id': assignment.id }) }}">Share</a>
                </td>
                <td>
                     <a href="{{ path('assignment_show', { 'id': assignment.id }) }}">show</a>
                </td>
                <td>
                    <a href="{{ path('assignment_edit', { 'id': assignment.id }) }}">edit</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('assignment_new') }}">Create a new assignment</a>
        </li>
    </ul>
{% endblock %}
