{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your Assignment Details</h1>



<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close close-d" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button"  class="btn btn-danger close-d" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>





    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assignment.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ assignment.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ assignment.description }}</td>
            </tr>


        </tbody>
    </table>


<br>

<div class="card">
  <h5 class="card-header ">Materials</h5>
  <div class="card-body">
    

    <ul>
        {% for material in assignment.materials %}
            <li>
                <h5 class="card-header "><a class="show" 
                    title='{{ material.title }}' 
                    download='{{ material.getWebMaterialDataPath }}' 
                    type='' 
                    href="#" 
                    data-toggle="modal" 
                    data-target="#myModal" > {{ material.title }} </a> </h5>
            </li>
        {% endfor %}
    </ul>

  </div>
</div>
<br>

<div class="card">
  <h5 class="card-header ">Questions</h5>
  <div class="card-body">




<form method="post" action="">


   <ol style="width: 100%">
      {% for question in assignment.questions %}

          {% set question_id = null %}
          {% set student_answer_id = null %}
          {% set answer_list_data=[] %}

          {% for student_answer in pub_students_answers %}
              {% if question.id==student_answer.question.id  %}
                  
                  {% set question_id = student_answer.question.id  %}
                  {% set student_answer_id = student_answer.id %}
                  
                  
                  {% for answer_list in student_answer.getStudentsAnswerLists %}
                      
                      {% set answer_list_data =  answer_list_data|merge ( [answer_list.answer] )   %}

                  {% endfor %}

              {% endif %}
          {% endfor %}


          
          {% if student_answer_id != null  %}
            <input type="hidden" value="{{ student_answer_id }}" name="students_answer_ids[{{ question_id }}]">
          {% endif %}




          <li>
            <h5 class="card-title">{{question.question}}</h5>

            <input type="hidden" value="{{question.getId}}" name="question_ids[]">

            
            {% for answer in question.answers %}


              {% if question.getQuestionType=='2' %}

                 <label class="card-text">
                    <input type="radio" name="answers[radio][{{question.id}}][]"  value="{{answer.answer}}"


                    {% if answer_list_data[0] is defined %}
                         {% if answer_list_data[0]==answer.answer %}
                            checked
                         {% endif %}
                    {% endif %}

                    /> {{answer.answer}}
                 </label>

              {% elseif question.getQuestionType=='3' %}
               
                  <label class="card-text">
                     <input type="checkbox" name="answers[checkbox][{{question.id}}][]" value="{{answer.answer}}" 



                    {% if answer_list_data is defined %}

                        {% for sel_answer in answer_list_data %}
                           {% if sel_answer==answer.answer %}
                              checked
                           {% endif %}
                        {% endfor %}

                    {% endif %}


                     /> {{answer.answer}}
                  </label>
              
              {% endif %}


            {% endfor %}

            {% if question.getQuestionType=='1' %}
             
              <input type="text" name="answers[text][{{question.id}}][]" class="form-control" placeholder="Write your answer"

                {% if answer_list_data[0] is defined %}
                     value='{{ answer_list_data[0] }}'
                {% endif %}
               

               />

            {% endif %}

          </li>
      
      {% endfor %}
  </ol>

  <input type="submit" class="btn btn-primary" value="Submit your answer">


</form>


  </div>
</div>






<!--   <div class="custom-control custom-radio">
    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" >
    <label class="custom-control-label" for="credit">Credit card</label>
  </div>
  <div class="custom-control custom-radio">
    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" >
    <label class="custom-control-label" for="debit">Debit card</label>
  </div>
  <div class="custom-control custom-radio">
    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" >
    <label class="custom-control-label" for="paypal">PayPal</label>
  </div> -->



<script type="text/javascript">
  
  $(".show").click(function(){

      this.type = this.download.split('.').pop();

      $(".modal-title").html(this.title);
      
      if(this.type == 'png' || this.type == 'jpg' || this.type == 'jpeg')
      {
         $(".modal-body").html("<img style='width:100%;' src='"+this.download+"' >");
      }
      else if(this.type == 'pdf')
      {
          $(".modal-body").html("<iframe src='"+this.download+"' style='width:100%;height:-webkit-fill-available' ></iframe>");
      }
      else if(this.type == 'mp4')
      {
          $(".modal-body").html("<video style='width:100%;' controls><source src='"+this.download+"' type='video/mp4' style='width:100%;'> Your browser does not support the video tag.</video>");
      }
      else
      {
          $(".modal-body").html("We cannot recognize your file<br><a href='"+this.download+"' >Download File</a>");
      }

  });

  $(".close-d").click(function(){

    $(".modal-body").html("");
    $(".modal-title").html("");
  
  });

</script>






{% endblock %}
