{% extends 'base.html.twig' %}

{% block body %}
    <h1>Share to Students </h1>




<div class="input-group md-form form-sm form-2 pl-0">
  <input class="form-control my-0 py-1 amber-border" type="text" id="search" value="" placeholder="Search" aria-label="Search">
  <div class="input-group-append">
    <input type="button" class="btn btn-primary" id="search_submit" value="Search">
    <input type="button" class="btn btn-danger" id="search_close" value="X">
  </div>
</div>

<script type="text/javascript">
    $("#search_submit").click(function(){
      window.location.href = "?search="+ $('#search').val();
    });
    $('#search').on("keypress", function(e) {
        if (e.keyCode == 13) {
            window.location.href = "?search="+ $('#search').val();
        }
    });
    $("#search_close").click(function(){
      window.location.href = "?";
    });
</script>



<form method="post" action="" > 

    <table class="table">
        <thead>
            <tr>
                <th>Select</th>
                <th>User Name</th>
                <th>Email</th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <label>
                        <input {% if user.id in users_shares %}checked{% endif %} name="share[]" type="checkbox" value="{{ user.id }}" > Select user
                    </label>
                    {% if user.id in users_shares %}
                        <input type="hidden" name="before_shared_users[]" value="{{ user.id }}">
                    {% endif %}
                    
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">show</a></td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




<input type="submit" class="btn btn-primary" value="Share">


</form>


{% endblock %}
